/* Base styles for body and html */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000 !important;
  color: white;
}

.container {
  max-width: 1200px;
}

/* Custom styling for Navbar */
.navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand img {
  height: 80px;
  width: 180px;
}

.phone {
  color: #F37820;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.left-side img {
  width: 820px;
  height: 670px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-side h1 {
  font-size: 6rem;
  margin-bottom: 20px;
  color: #F37820;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  
}

.subscribe-input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.subscribe-input input[type="email"] {
  border: none;
  padding: 10px;
  border-radius: 3px;
  width: 70%;
}

.subscribe-input button {
  border: none;
  padding: 10px;
  background-color: #F37820;
  color: white;
  cursor: pointer;
}
::-webkit-input-placeholder { 
  color: black;
  background: #F37820;
  font-weight: 400;
}
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .right-side h1 {
    font-size: 2rem;
  }

  .subscribe-input input {
    width: 90%;
  }
}
